{% extends "base.html" %}

{% block title %}{% endblock %}

{% load bootstrap3 %}

{% block content %}
	<header class="intro" style="background: url({{campaign.image}})">
		<div class="intro-body">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="brand-heading" style="margin-top: 75px;">{{campaign.name}}</h1>
						<p class="intro-text">{{campaign.description}}</p>
						<a href="#sign_up" id="scroll-button" class="btn btn-circle page-scroll">
							<i class="fa fa-angle-double-down animated"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Download Section -->
	<section id="sign_up" class="content-section text-left">
		<div class="download-section">
			<div class="container">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Enter Your Personal Details</h2>
					<p>{{campaign.instructions}}</p>
					<form class="form" action="/campaign/{{campaign.pk}}/#sign_up" method="POST">
						{% csrf_token %}
						{% bootstrap_form form %}
					    {% buttons %}
					        <button type="submit" class="btn btn-primary">
					            <i class="fa fa-diamond"></i> Submit
					        </button>
					    {% endbuttons %}
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock %}