{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
	<header class="intro" style="background: url({{campaign.image}})">
		<div class="intro-body">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="brand-heading" style="margin-top: 75px;">{{campaign.name}}</h1>
						<p class="intro-text">{{campaign.description}}</p>
						<a href="#sign_up" id="scroll-button" class="btn btn-circle page-scroll">
							<i class="fa fa-angle-double-down animated"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Download Section -->
	<section id="sign_up" class="content-section text-center">
		<div class="download-section">
			<div class="container">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Enter Your Personal Details</h2>
					<p>{{campaign.instructions}}</p>
					<p>FORM GOES HERE
                    <form class="form-horizontal" action="" method="get">
                        {% csrf_token %}
                   {% for field in form %}
                   <div class="form-group form-group-lg">
                       <label class="col-sm-2 control-label">{{ field.name }}</label>
                       <div class="form-control col-sm-2l">{{ field}}</div>
                    </div>
                        {% endfor %}
                    <br><button type="submit" class="btn-default">submit</button>
                    </form>
                    </p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}