{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
		<!-- Intro Header -->
	<header class="intro">
		<div class="intro-body">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="brand-heading" style="margin-top: 50px;">Ocean Marketing</h1>
						<p class="intro-text">We'll handle your marketing campaign, and we'll do it better than a toddler or baby.</p>
						<a href="#about" id="scroll-button" class="btn btn-circle page-scroll">
							<i class="fa fa-angle-double-down animated"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- About Section -->
	<section id="about" class="container content-section text-center">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>About Oceans</h2>
				<p>On Earth, an ocean is one of the major conventional divisions of the World Ocean, which occupies two-thirds of the planet's surface. These are, in descending order by area, the Pacific, Atlantic, Indian, Southern, and Arctic Oceans.</p>
				<p>On Earth, an ocean is one of the major conventional divisions of the World Ocean, which occupies two-thirds of the planet's surface. These are, in descending order by area, the Pacific, Atlantic, Indian, Southern, and Arctic Oceans. The word sea is often used interchangeably with "ocean" in American English but, strictly speaking, a sea is a body of saline water (generally a division of the world ocean) partly or fully enclosed by land.</p>
				<p>This should make you hire us!</p>
			</div>
		</div>
	</section>

	<!-- Download Section -->
	<section id="download" class="content-section text-center">
		<div class="download-section">
			<div class="container">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Our Campaigns</h2>
					{% for campaign in campaigns %}
					<div class="text-left">
						<h3>{{campaign.name}}</h3>
						<p>Runs: {{campaign.start_date}} - {{campaign.end_date}}</p>
						<p>{{campaign.description}}</p>
						<p> 
							{% if campaign.isRunning %}
								<a href="/campaign/{{campaign.pk}}/">
									View Campaign Webpage
								</a>
							{% else %}
								<p>This Campaign is Not Running</p>
							{% endif %}
						</p>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>

	<!-- Contact Section -->
	<section id="contact" class="container content-section text-center">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Contact Ocean Marketing</h2>
				<p>Feel free to throw us a message in a bottle! Or, if you don't feel that's very efficient, you can also send us an email, but that's not as cool.</p>
				<p><a href="mailto:feedback@startbootstrap.com">feedback@oceanmarketing.com</a>
				</p>
				<ul class="list-inline banner-social-buttons">
					<li>
						<a href="https://twitter.com/#" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
					</li>
					<li>
						<a href="https://github.com/#" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
					</li>
					<li>
						<a href="https://plus.google.com/#" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<!-- Map Section -->
	<div id="map"></div>
{% endblock %}