{% extends "base.html" %}

{% block title %}{% endblock %}

{% load bootstrap3 %}

{% block content %}
	<header class="intro" style="background: url({{campaign.image}})">
		<div class="thank-you-section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="brand-heading" style="margin-top: 50px;">Thank You {{name}}</h1>
						<p class="intro-text">Thank you for filling out the form for our campaign: "{{campaign.name}}"</p>
						<br>
						<br>
						<p class="intro-text">To travel back to the home page click the button below.</p>
						<a href="/home/" id="scroll-button" class="btn btn-circle page-scroll">
							<i class="fa fa-home animated"></i>
						</a>
						<br>
						<br>
						
					</div>
				</div>
			</div>
		</div>
	</header>


{% endblock %}